@page
@model IndexModel
@{
    ViewData[ "Title" ] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ego.PDF</h1>
    <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>


<div class="row">
    <div class="col-xs-12">
        <h2>Description</h2>
        <ul>
            <li>
                This is an automated port of FPF for PHP. Some parts have been recoded but many others are still as given.
            </li>
            <li>
                This is not a full fledged tool, but instead if is intendend to be used as last resource. If everything else fails or is too heavy and you have some time to spend, then, maybe this is for you.
            </li>

            <li>
                Should you use it? Probably not. Its mantained just for fun. But if you like the DIY approach, then maybe it will suit you.
            </li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h2>
            Tutorial
        </h2>
        <p>
            Currently, Ego.PDF status is work in progress. Fist milestone is recreate all samples
            in FPDF <a href="http://www.fpdf.org/en/tutorial/index.php">tutorial</a>.
        </p>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Original FPDF sample
                    </th>
                    <th>
                        Ego.PDF implementation & variations
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>Sample 1</b>. Minimal example
                    </td>
                    <td>
                        Tutorial 1
                    </td>
                    <td>
                        <a (click)="download($event)" href="/api/SampleData/GetSample1">Tutorial 1</a>
                        <i class="icon-list-alt sampleSource link_out" data-sample="1"></i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Sample 2</b>. Header, footer, page break and image
                    </td>
                    <td>
                        Tutorial 2
                    </td>
                    <td>
                        <a (click)="download($event)" href="/api/SampleData/GetSample2">Tutorial 2 (png image)</a>
                        <i class="icon-list-alt sampleSource link_out" data-sample="2"></i>
                        <br />
                        <a (click)="download($event)" href="/api/SampleData/GetSample2b">Tutorial 2 (png image with alpha channel)</a>
                        <a (click)="download($event)" href="/api/SampleData/GetSample2c">Tutorial 2 (jpg image)</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Sample 3</b>. Line breaks and colors
                    </td>
                    <td>
                        Tutorial 3
                    </td>
                    <td>
                        <a (click)="download($event)" href="/api/SampleData/GetSample3">Tutorial 3</a>
                        <i class="icon-list-alt sampleSource link_out" data-sample="3"></i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Sample 4</b>. Multi-columns
                    </td>
                    <td>
                        Tutorial 4
                    </td>
                    <td>
                        <a (click)="download($event)" href="/api/SampleData/GetSample4">Tutorial 4</a>
                        <i class="icon-list-alt sampleSource link_out" data-sample="4"></i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Sample 5</b>. Tables
                    </td>
                    <td>
                        Tutorial 5
                    </td>
                    <td>
                        <a (click)="download($event)" href="/api/SampleData/GetSample5">Tutorial 5</a>
                        <i class="icon-list-alt sampleSource link_out" data-sample="5"></i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Sample 6</b>. Links and flowing text
                    </td>
                    <td>
                        Tutorial 6
                    </td>
                    <td>
                        <a (click)="download($event)" href="/api/SampleData/GetSample6">Tutorial 6</a>
                        <i class="icon-list-alt sampleSource link_out" data-sample="6"></i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Sample 7</b>. Adding new fonts and encoding support
                    </td>
                    <td>
                        Tutorial 7
                    </td>
                    <td>
                        <a (click)="download($event)" href="/api/SampleData/GetSample7">Tutorial 7</a>
                        <i class="icon-list-alt sampleSource link_out" data-sample="7"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>
            New samples
        </h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        New sample
                    </th>
                    <th>
                        Implementation
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>Sample 1</b>. Tutorial 8. Invoice
                    </td>
                    <td></td>
                    <td>
                        <a (click)="download($event)" href="/api/SampleData/GetSample8">Invoice</a>
                        <i class="icon-list-alt sampleSource link_out" data-sample="1"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
