@{
	ViewBag.Title = "Ego.PDF";
}
@section featured {
	<div class="hero-unit">
		<a href="https://github.com/marcoregueira/fpdf.net" style="z-index: 996; float: right; position: relative; top: -62px; right: -62px; border: 0;">
			<img style="border: 0;float: right; z-index: 996; " src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
		</a>
		<h2>
			<b>Ego.PDF</b> is a C# library to generate Pdf documents on the fly</h2>
		<p>
			Ego.PDF is a port of <a href="http://fpdf.org" title="FPDF Website">FPDF</a> for PHP. Learn more about FPDF visiting its <a href="http://fpdf.org" title="FPDF Website">home site</a>.
		</p>
		<p>
			<a class="btn btn-primary btn-large" title="Check the samples" href="/samples">Get started</a>
			<a class="btn btn-inverse btn-large" title="Download from GitHub" href="https://github.com/marcoregueira/fpdf.net/zipball/master">Download fron GitHub</a>
	
		</p>
	</div>
}
<div class="row-fluid">
	<div class="span4">
		<h2>
			Just code</h2>
		ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and that gives you full control over markup for enjoyable, agile development. ASP.NET MVC includes many features that enable fast,
		TDD-friendly development for creating sophisticated applications that use the latest web standards. <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more</a>
	</div>
	<div class="span4">
		<h2>
			Some other things</h2>
		NuGet makes it easy to install and update free libraries and tools. <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more</a>
	</div>
	<div class="span4">
		<h2>
			Permissive licence</h2>
		You can easily find a web hosting company that offers the right mix of features and price for your applications. <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more</a>
		<br />
		</div>
</div>
